<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nikash Deka Portfolio Page | Home</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/my_resume_style.css" />
    <link rel="stylesheet" href="/assets/css/constant_style.css" />
    <!-- Import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
    <!-- Footer STARTS -->
    <footer class="page-footer light-blue">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem eos
                sapiente ipsum veritatis maiores deleniti corporis, eum nisi
                doloribus harum, eaque laborum sint, ratione est.
              </p>
              <p class="grey-text text-lighten-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem eos
                sapiente ipsum veritatis maiores.
              </p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li>
                  <a class="grey-text text-lighten-3" href="/index.html">Home</a>
                </li>
                <li>
                  <a
                    class="grey-text text-lighten-3"
                    href="/views/my_projects.html"
                    >My Projects</a
                  >
                </li>
                <li>
                  <a
                    class="grey-text text-lighten-3"
                    href="/views/frontend_development.html"
                    >My Frontend Projects</a
                  >
                </li>
                <li>
                  <a
                    class="grey-text text-lighten-3"
                    href="/views/blogs/blogs.html"
                    >Blogs</a
                  >
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="/views/about_me.html"
                    >About Me</a
                  >
                </li>
                <li>
                  <a
                    class="btn-small mt-1 light-blue darken-3"
                    href="/views/contact.html"
                    >Let's Connect</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2020 Nikas Deka. All Rights Reserced
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
      <!-- Footer ENDS -->
  </body>
</html>
