.skill-btn {
  margin: 8px;
}

.img-overlay {
  display: block;
  position: relative;
}

.img-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 255, 0, 0.315);
}

.clear-float {
  clear: both;
}
.my-carousel {
  height: 380px;
}
.my-carousel-item {
  min-height: 350px;
  min-width: fit-content;
  background-color: grey;
}

.card-caption {
  margin: 8px 0;
}

.heading-caption h5 {
  padding: 16px;
}

nav {
  border-bottom: none;
}

.txt-upper {
  text-transform: uppercase;
}

.carousel-item img {
  max-width: 250px;
  max-height: 250px;
}

.my-skills-tab {
  margin: 50px auto;
}

.my-skills-tab ul li {
  color: #455a64;
  list-style-type: initial;
}

.my-skills-tab a {
  color: #455a64;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #e6e6e6;
  outline: none;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #455a643f;
  will-change: left, right;
}

#tech-skills ul, 
#work-ex ul,
#credentials ul {
  padding: 0 20px;
}
